SERVER_ADDR=127.0.0.1:3000
POSTGRES_URL=postgres://blog:password@localhost:5432/blog?sslmode=disable

ANONYM_ALLOWED=true
FRONTEND_DOMEN=https://ocean-mandela.info

TELEGRAM_BOT_URL=https://api.telegram.org
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_CHANNEL=
TELEGRAM_BOT_ADMIN_CHAT_ID=
TELEGRAM_BOT_ENABLED=true

WATCHDOG_ANONYM_TOKEN=
WATCHDOG_ENABLED=false
